version: '3.5'

volumes:
  wordpress:
    name: volume_wp
    driver: local
    driver_opts:
      device: /Users/oakoudad/Volumes/wordpress
      o: bind
      type: none
  mariadb:
    name: volume_mariadb
    driver: local
    driver_opts:
      device: /Users/oakoudad/Volumes/DB
      o: bind
      type: none
networks:
  inception:
    name: inception
    driver: bridge
services:
  mariadb:
    image: mariadb:1337
    container_name: mariadb
    build: ./requirements/mariadb/.
    ports:
      - 3306
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception
    restart: always
  wordpress:
    image: wordpress:1337
    container_name: wordpress
    build: ./requirements/wordpress/.
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    restart: always
  nginx:
    image: nginx:1337
    container_name: nginx
    build: ./requirements/nginx/.
    ports:
      - 443:443
      - 80:80
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception
    env_file:
      - .env